# MongoDB Connection
MONGO_URI=mongodb+srv://henriquesilveira:HZ0ufTMylBV7oJQY@data-finnancial-hsilvei.brqhp2y.mongodb.net/?retryWrites=true&w=majority&appName=data-finnancial-hsilveira

# JWT Secret (gere um novo com: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
JWT_SECRET=fd6669db79efae59c50cfce90d9382eb25ce79b3765fd4f1e8bb5369812f65b4

# Webhook URL (já configurado)
WEBHOOK_URL=https://vps61817.publiccloud.com.br/webhook/cadastro/files